'.source.hk, .source.haiku':
  'Entity Definition':
    prefix: 'entity'
    body: """
      entity ${1:name} {
        $0
      }
    """
    description: 'Entity Definition'
  'Workflow Definition':
    prefix: 'work'
    body: """
      workflow ${1:type_name} {
        t: Transitions {
            init: Transition {
                from: ${2:from_state}
                to: ${2:to_state}
            }
            $0
        }
      }
    """
    description: 'Workflowty Definition'
  'Property':
    prefix: 'prop'
    body: """
      ${1:name} : ${2:type}
      $0
    """
    description: 'Property'
  'Reference property':
    prefix: 'ref'
    body: """
      ${1:name} : <ref>${2:type}
      $0
    """
    description: 'Reference property'
  'Tabs':
    prefix: 'tabs'
    body: """
      tabs: Tabs {
        ${1:name} : Tab {
            label: '$1'
        }
        $0
      }
    """
    description: 'Tabs'
  'Tab':
    prefix: 'tab'
    body: """
        ${1:name} : Tab {
            $0
        }
    """
    description: 'Tabs'
