'.source.hk, .source.haiku':
  'Entity Definition':
    prefix: 'entity'
    body: """
      entity ${1:name} {
      }
    """
    description: 'Entity Definition'
  'Workflow Definition':
    prefix: 'work'
    body: """
      workflow ${1:name} {
        transitions: Transitions {
            initial: Transition {
                from: ${2:from}
                to: ${3:to}
            }
        }
      }
    """
    description: 'Workflowty Definition'
  'Property':
    prefix: 'prop'
    body: """
      ${1:name} : ${2:type}
    """
    description: 'Property'
  'Reference property':
    prefix: 'ref'
    body: """
      ${1:name} : <ref>${2:type}
    """
    description: 'Reference property'
  'Tabs':
    prefix: 'tabs'
    body: """
      tabs: Tabs {
        $1 : Tab {
            label: '$1'
        }
      }
    """
    description: 'Tabs'
  'Tab':
    prefix: 'tab'
    body: """
        ${1:name} : Tab {
        }
    """
    description: 'Tabs'
