'.source.hk, .source.haiku':
  'Entity Definition':
    prefix: 'entity'
    body: """
      entity $1 {
        $0
      }
    """
    description: 'Entity Definition'
  'Workflow Definition':
    prefix: 'workflow'
    body: """
      workflow $1 {
        ${2:initial}: InitialState
        ${3:start}: State
        $0

        ${4:init}: Transition<${2}, ${3}>
      }
    """
    description: 'Workflowty Definition'
  'Property':
    prefix: 'prop'
    body: """
      $1: $2
      $0
    """
    description: 'Property'
  'Reference property':
    prefix: 'ref'
    body: """
      $1: <ref>$2
      $0
    """
    description: 'Reference property'
  'Tabs':
    prefix: 'tabs'
    body: """
      ${1:tabs}: Tabs {
        @label('${2/(.+)/\\u$1/}')
        ${2:main}: Tab {
            $0
        }
      }
    """
    description: 'Tabs'
  'Tab':
    prefix: 'tab'
    body: """
        @label('${1/(.+)/\\u$1/}')
        $1: Tab {
            $0
        }
    """
    description: 'Tabs'
