name: 'Haiku'
scopeName: 'haiku'
type: 'tree-sitter'
parser: 'tree-sitter-haiku'
fileTypes: ['hk', 'haiku']

scopes:
    'Block > Decorator > decoratorIdentifier': 'entity.name.function.decorator'
    'Block > camelIdentifier': 'entity.name.function'
    'Block > pascalIdentifier': 'entity.name.function.decorator'

    'Attribute > Decorator > decoratorIdentifier': 'entity.name.function.decorator'
    'Attribute > camelIdentifier': 'entity.name.function'
    'AttributeType > camelIdentifier': 'entity.name.function'
    'AttributeType > pascalIdentifier': 'entity.name.function.decorator'

    'atom > camelIdentifier': 'entity.name.function'

    '''
    "*",
    "/",
    "+",
    "-"
    ''': 'keyword.operator'

folds: [
    {
        start: {type: '"("', index: 0},
        end: {type: '")"', index: -1}
    }
    {
        start: {type: '"{"', index: 0},
        end: {type: '"}"', index: -1}
    }
]

comments: [
    {
        start: '/* '
        end: ' */'
    }

    {
        start: '// '
    }
]

