name: 'Haiku'
scopeName: 'source.haiku'
type: 'tree-sitter'
parser: 'tree-sitter-haiku'
fileTypes: ['hk', 'haiku']

scopes:
    'program': 'source.haiku'

    'comment': 'comment.block'

    'block_type': 'constant.language'
    'block_name': 'support.storage.type'

    'generic > "<"': 'storage.modifier'
    'generic > ">"': 'storage.modifier'

    'decorator > decorator_identifier': 'variable.other.object.property'

    'function_call > identifier': 'entity.name.function'

    'camel_identifier': 'support.storage.type'
    'pascal_identifier': 'variable.other.object.property'
    'decorator_identifier': 'entity.name.package'

    'simple_string': 'string.quoted.double'
    'template_string': 'string.quoted.template'
    'escape_sequence': 'constant.character.escape'
    'template_substitution': 'constant.other.rune'
    'integer': 'constant.numeric.integer'
    'float': 'constant.numeric.float'
    'false': 'constant.language.false'
    'true': 'constant.language.true'

    '":"': 'keyword.operator'
    '"+"': 'keyword.operator'
    '"-"': 'keyword.operator'
    '"*"': 'keyword.operator'
    '"/"': 'keyword.operator'
    '"%"': 'keyword.operator'
    '"=="': 'keyword.operator'
    '"!="': 'keyword.operator'
    '">"': 'keyword.operator'
    '"<"': 'keyword.operator'
    '">="': 'keyword.operator'
    '"<="': 'keyword.operator'
    '"!"': 'keyword.operator'
    '"|"': 'keyword.operator'
    '"&"': 'keyword.operator'
    '"||"': 'keyword.operator'
    '"&&"': 'keyword.operator'

folds: [
    {
        type: 'comment'
    }
    {
        start: {index: 0, type: '{'}
        end: {index: -1, type: '}'}
    }
    {
        start: {index: 0, type: '['}
        end: {index: -1, type: ']'}
    }
    {
        start: {index: 0, type: '('}
        end: {index: -1, type: ')'}
    }
]

comments: [
    {
        start: '/* '
        end: ' */'
    }

    {
        start: '// '
    }
]

