name: 'Haiku'
scopeName: 'source.haiku'
type: 'tree-sitter'
parser: 'tree-sitter-haiku'
fileTypes: ['hk', 'haiku']

scopes:
    'program': 'source.hk'

    'block > camel_identifier': 'keyword.control'
    'block > pascal_identifier': 'support.storage.type'

    'property > camel_identifier': 'entity.name.tag'
    'property_type > camel_identifier': 'support.storage.type'
    'property_type > pascal_identifier': 'support.storage.type'

    'generic_args > "<"': 'storage.modifier'
    'generic_args > ">"': 'storage.modifier'

    'function_call > identifier': 'entity.name.function'

    '
    ":"
    ': 'keyword.operator'

folds: [
    {
        type: 'comment'
    }
    {
        start: {index: 0, type: '{'}
        end: {index: -1, type: '}'}
    }
    {
        start: {index: 0, type: '['}
        end: {index: -1, type: ']'}
    }
    {
        start: {index: 0, type: '('}
        end: {index: -1, type: ')'}
    }
]

comments: [
    {
        start: '/* '
        end: ' */'
    }

    {
        start: '// '
    }
]

