name: 'Haiku'
scopeName: 'source.haiku'
type: 'tree-sitter'
parser: 'tree-sitter-haiku'
fileTypes: ['hk', 'haiku']

scopes:
    'program': 'source.hk'

    'block > decorator > decorator_identifier': 'block.decorator'
    'block > camel_identifier': 'keyword.control'
    'block > pascal_identifier': 'block.name'

    'property > decorator > decorator_identifier': 'property.decorator'
    'property > camel_identifier': 'property.type.basic'
    'property_type > camel_identifier': 'keyword.control'
    'property_type > pascal_identifier': 'property.type'

    'atom > camel_identifier': 'atom.identifier'
    'atom > pascal_identifier': 'atom.identifier'
    'atom': 'atom.literal'

    '
    "*", "/", "+", "-",
    ">", ">=", "<", "<=", "=="
    ': 'keyword.operator'

folds: [
    {
        type: 'comment'
    }
    {
        start: {index: 0, type: '{'}
        end: {index: -1, type: '}'}
    }
    {
        start: {index: 0, type: '['}
        end: {index: -1, type: ']'}
    }
    {
        start: {index: 0, type: '('}
        end: {index: -1, type: ')'}
    }
]

comments: [
    {
        start: '/* '
        end: ' */'
    }

    {
        start: '// '
    }
]

